.button-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin-left: 5px;
}

.button-col{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#aniObj
{
    display: block;
    width: 25vw;
    height: 25vw;
}

#word
{
    width: 25vw;
    height: 30vw;
}

body {background-color: black;}

#snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
  }

  .snowflake {
    position: fixed;
    background-color: #CCC;
    user-select: none;
    z-index: 1000;
    pointer-events: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }

  #all{
      padding-top: 70px;
  }