body{
    background-image: url('https://i.imgur.com/Dwthxvd.png');
}

.flex-col{
    display: flex;
    flex-direction: column;
    width: 70vw;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#chat_space{
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: grey;
    width: 70vw;
    height: 450px;
    overflow: auto;
}

@media (min-width: 10px)
{
    .talk{
    margin-top: 25px;
    margin-left: 5px;
    padding: 5px;
    height: 300px;
    width: 50px;
    background-color: linen;
    border-radius: 5px;
    position: relative;
    overflow: wrap;
}

.talk:after{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 20%;
    border-width: 10px;
    border-color: transparent;
    border-style: solid;
    border-top-color: linen;

}

.talk-self{
    margin-top: 25px;
    margin-left: 5px;
    padding: 5px;
    height: 300px;
    width: 50px;
    background-color: lightsalmon;
    border-radius: 5px;
    position: relative;
    overflow: wrap;
}

.talk-self:after{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 60%;
    border-width: 10px;
    border-color: transparent;
    border-style: solid;
    border-top-color: lightsalmon;

}

}


@media (min-width: 278px)
{
    .talk{
    margin-top: 25px;
    margin-left: 5px;
    padding: 5px;
    height: 250px;
    width: 125px;
    background-color: linen;
    border-radius: 5px;
    position: relative;
    overflow: wrap;
}

.talk:after{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 20%;
    border-width: 10px;
    border-color: transparent;
    border-style: solid;
    border-top-color: linen;

}

.talk-self{
    margin-top: 25px;
    margin-left: 5px;
    padding: 5px;
    height: 250px;
    width: 125px;
    background-color: lightsalmon;
    border-radius: 5px;
    position: relative;
    overflow: wrap;
}

.talk-self:after{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 80%;
    border-width: 10px;
    border-color: transparent;
    border-style: solid;
    border-top-color: lightsalmon;

}

}


@media (min-width: 423px)
{
    .talk{
    margin-top: 25px;
    margin-left: 5px;
    padding: 5px;
    height: 200px;
    width: 200px;
    background-color: linen;
    border-radius: 5px;
    position: relative;
    overflow: wrap;
}

.talk:after{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 20%;
    border-width: 10px;
    border-color: transparent;
    border-style: solid;
    border-top-color: linen;

}

.talk-self{
    margin-top: 25px;
    margin-left: 5px;
    padding: 5px;
    height: 200px;
    width: 200px;
    background-color: lightsalmon;
    border-radius: 5px;
    position: relative;
    overflow: wrap;
}

.talk-self:after{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 80%;
    border-width: 10px;
    border-color: transparent;
    border-style: solid;
    border-top-color: lightsalmon;

}

}


@media (min-width: 577px)
{
    .talk{
    margin-top: 25px;
    margin-left: 5px;
    padding: 5px;
    height: 150px;
    width: 350px;
    background-color: linen;
    border-radius: 5px;
    position: relative;
    overflow: wrap;
}

.talk:after{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 20%;
    border-width: 10px;
    border-color: transparent;
    border-style: solid;
    border-top-color: linen;

}

.talk-self{
    margin-top: 25px;
    margin-left: 5px;
    padding: 5px;
    height: 150px;
    width: 350px;
    background-color: lightsalmon;
    border-radius: 5px;
    position: relative;
    overflow: wrap;
}

.talk-self:after{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 80%;
    border-width: 10px;
    border-color: transparent;
    border-style: solid;
    border-top-color: lightsalmon;

}

}


@media (min-width: 754px)
{
    .talk{
    margin-top: 25px;
    margin-left: 5px;
    padding: 5px;
    height: 100px;
    width: 450px;
    background-color: linen;
    border-radius: 5px;
    position: relative;
    overflow: wrap;
}

.talk:after{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 20%;
    border-width: 10px;
    border-color: transparent;
    border-style: solid;
    border-top-color: linen;

}

.talk-self{
    margin-top: 25px;
    margin-left: 10vw;
    padding: 5px;
    height: 100px;
    width: 450px;
    background-color: lightsalmon;
    border-radius: 5px;
    position: relative;
    overflow: wrap;
}

.talk-self:after{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 80%;
    border-width: 10px;
    border-color: transparent;
    border-style: solid;
    border-top-color: lightsalmon;

}

#chat_space{
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: grey;
    height: 450px;
    overflow: auto;
    width: 70vw;
}

}

@media (min-width: 928px)
{
    .talk{
    margin-top: 25px;
    margin-left: 5px;
    padding: 5px;
    height: 100px;
    width: 450px;
    background-color: linen;
    border-radius: 5px;
    position: relative;
    overflow: wrap;
}

.talk:after{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 20%;
    border-width: 10px;
    border-color: transparent;
    border-style: solid;
    border-top-color: linen;
    

}

.talk-self{
    margin-top: 25px;
    margin-left: 20vw;
    padding: 5px;
    height: 100px;
    width: 450px;
    background-color: lightsalmon;
    border-radius: 5px;
    position: relative;
    overflow: wrap;
}

.talk-self:after{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 80%;
    border-width: 10px;
    border-color: transparent;
    border-style: solid;
    border-top-color: lightsalmon;

}

#chat_space{
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: grey;
    height: 450px;
    overflow: auto;
    width: 70vw;
}

}

@media (min-width: 1180px)
{
    .talk{
    margin-top: 25px;
    margin-left: 5px;
    padding: 5px;
    height: 100px;
    width: 450px;
    background-color: linen;
    border-radius: 5px;
    position: relative;
    overflow: wrap;
}

.talk:after{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 20%;
    border-width: 10px;
    border-color: transparent;
    border-style: solid;
    border-top-color: linen;

}

.talk-self{
    margin-top: 25px;
    margin-left: 30vw;
    padding: 5px;
    height: 100px;
    width: 450px;
    background-color: lightsalmon;
    border-radius: 5px;
    position: relative;
    overflow: wrap;
}

.talk-self:after{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 80%;
    border-width: 10px;
    border-color: transparent;
    border-style: solid;
    border-top-color: lightsalmon;

}

#chat_space{
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: grey;
    height: 450px;
    overflow: auto;
    width: 70vw;
}

}


p{
    padding: 5px;
    word-wrap:break-word;
    font-family: Microsoft JhengHei;
}

strong{
    color:SaddleBrown;
    font-family: Microsoft JhengHei;
}

#prevent{
    background: transparent;
    border: 0px;
}